
.DS_Store
.uix-dashboard.json
.uix-secrets
auth.json
node_modules/.bin/
node_modules/
persist/
package-lock.json
config.json
accessories/
backups/
accessories/cachedAccessories
accessories/.cachedAccessories.bak
accessories/cachedAccessories
accessories/.cachedAccessories.bak
